@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add SF Pro Display font from Apple */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Bold.woff2") format("woff2");
  font-weight: 700;
}